@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/aria/ArialTh.ttf);
}

@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/georgia/Georgia\ Regular\ font.ttf);
}