@font-face {
    font-family: "Arial";
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/fonts/arial/ArialMT.woff);
}

@font-face {
    font-family: "Georgia";
    font-style: normal;
    font-weight: 400;
    src: url(/assets/fonts/fonts/georgia/Georgia.woff);
}