.help__heading {
    margin-top: 80px;
}

.help__list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 120px;
    row-gap: 55px;
    justify-content: center;
    align-items: center;
    margin-bottom: 102px;
    @include media-laptop {
        column-gap: 60px;
        row-gap: 57px;
        margin-bottom: 100px;
    }
}

.help__item {
    text-align: center;
    @include media-laptop {
        width: 170px;
    }
}