.main__section {
    background: top / cover no-repeat url(../assets/images/start-screen-gradient-background.png),
    radial-gradient(100% 215.42% at 0% 0%, #5B483A 0%, #262425 100%), #211F20;
}

.start__wrapper {
    display: flex;
    justify-content: space-between;
    @include media-laptop {
        max-width: $laptop-width;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-left: 20%;
    }
    @include media-tablet {
        margin-left: 16%;
    }
}

.start__screen__content{
    margin-top: 162px;
    @include media-laptop {
        margin-top: 60px;
    }
}

.start__subheading {
    font-family: 'Arial', serif;
    font-weight: 400;
    font-size: 15px;
    line-height: 160%;
    color: $color-dark-s;
    padding: 42px 0 57px 0;
    max-width: 460px;
}

.start__img__wrapper {
    width: 698px;
    height: 728px;
    @include media-laptop {
        margin-top: 116px;
        margin-left: 15px;
        width: 569px;
        height: 593px;
    }
}

.start__img {
    @include media-laptop {
        width: 569px;
        height: 593px;
    }
    @include media-laptop {
        overflow-x: hidden;
        overflow-y: hidden;
    }
}


.start_button {
    @include media-laptop {
        margin-left: 27.5%;
    }
}